<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClickFree.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ClickFree.Properties.Settings>
            <setting name="FacebookCode" serializeAs="String">
                <value />
            </setting>
            <setting name="FacebookAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="FacebookUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="OnBoardingPassed" serializeAs="String">
                <value>False</value>
            </setting>
        </ClickFree.Properties.Settings>
    </userSettings>
</configuration>