<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net461" />
  <package id="Magick.NET.Core" version="6.1.2" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="7.23.2.1" targetFramework="net461" />
  <package id="MvvmLight" version="5.4.1.1" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="ZetaLongPaths" version="1.0.0.38" targetFramework="net461" />
</packages>